.footer{background-color: #000;    color: #d7d7d7;    padding: 50px 0px;}
ul {padding: 0px; }
ul li{text-decoration: none;}
img {width: 100%;}
.popular-sec { padding: 50px 0px;}
.offers-sec{background-color: #f1f1f1; padding: 50px 0px;}
.offers-sec h3{background-color: #fbdfdf;    margin: 5px;}
.bg-body-tertiary{padding: 0px 0px;}
.bnr-sec{padding: 50px 0px;}
.footer-sec{background-color: #000; color:#e7e7e7;}
.slider h3 img{border-radius: 50%; padding: 15px;}
.slick-prev, .slick-next { top: 25% !important;}
.list{display: flex;}
.list .space-x-2 {    font-size: 13px;    margin-left: 10px;}
.slick-arrow.slick-prev{ border-radius:50%; left: 0px;}
.slick-arrow.slick-next{ border-radius:50%; right: 0px;}
.slick-prev, .slick-next {top: 45% !important;}